services:
  postgres:
    image: postgres:16
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: weave
      POSTGRES_PASSWORD: weave
      POSTGRES_DB: weave_cash
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
